@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari, and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge, and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none;
    }
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

input[type="checkbox"]:checked {
  background-color: #1f3374;
}
input[type="checkbox"]:checked:after {
  content: "\2713";
  color: white;
  top: 52%; /* Set top as a percentage */
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
input[type="checkbox"] {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  width: 20px !important;
  height: 20px !important;
  appearance: none;
  border-radius: 10%;
  border: 1px solid #1f3374;
  box-shadow: none;
  font-size: 1em;
  position: relative;
}


.sidebar_icon {
  color: #596798;
  transition: color 0.3s ease-in-out;
}

.sidebar_icon:hover {
  color: #04c3ff;
}

.sidebar_icon:active {
  color: white;
}